@model YayOrNay.Models.Movie



@{
    ViewBag.Title = "Index";
}

<h2>Reviews for @Model.Title</h2>

@* create a link to _Reviews as partial view *@

@Html.Partial("_Reviews", @Model.Reviews)




<p>
    @Html.ActionLink("Create New", "Create", new { movieID = Model.Id})
</p>



