@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Details</h2>
<h3></h3>

<address>
    Managing Director: Keith Say To<br />
    Location: Dublin<br />
    <abbr title="Contact Number">TEL:</abbr>
    +35312345678
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@yayornay.com">tellmesomething@yayornay.com</a><br />

</address>


<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:330px;width:600px;'><div id='gmap_canvas' style='height:330px;width:600px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.autohuren.world/locaties/amsterdam/">auto huren amsterdam</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(53.2851212,-6.378418900000042),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(53.2851212,-6.378418900000042)});infowindow = new google.maps.InfoWindow({content:'<strong>Yay Or Nay Office</strong><br>Old Blessington Rd, Dublin 24<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>


